.input-bar {
    display: grid;
    width: 20%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    border: 2em solid white;
    box-shadow: 0 0 5px 2px grey;
    border-radius: 1em;
    background-color: white;
}

.material-icons {
    color: rgba(255, 255, 255, 1);
}

.input-bar input {
    width: 170%;
}

.input-bar button {
    position: relative;
    left: 80%;
    background-color: #845EC2;
    height: 3em;
    width: 3em;
    text-align: center;
    border-radius: 50%;
    border-width: 0em;
    outline: none;
}

.input-bar button:hover {
    background-color: #6e4fa0;
}

.input-bar button:active {
    background-color: black;
}

