.search-header{
    display: grid;
    padding-top: 2em;
    padding-bottom: 1em;
    grid-template-columns: 1fr 1fr;
    font-family: 'Love Ya Like A Sister', cursive;
}

.search-header img {
    float: right;
    width: 10em;
}

.content-display {
    text-align: center;
    margin: auto;
    width: 50%;
}

ul {
    font-family: 'Love Ya Like A Sister';
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    margin-block: 0;
    padding-inline: 0;
    padding-bottom: 1em;
    padding-top: 1em;
}

.content-display button {
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 20px;
    border-radius: 1em;
    border-color: black;
    color: white;
    background-color: #845EC2;
    padding: 1em;
    outline: none;
}

.content-display button:hover {
    background-color: #6e4fa0;
    color: white;
}

.content-display button:active {
    background-color: black;
}