.sign-box {
    width: 60%;
    margin: auto;
    border: 2em solid white;
    box-shadow: 0 0 5px 2px grey;
    border-radius: 1em;
    float: none;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
}

img {
    width: 9%;
    float: left;
}

