.main-page {
    padding: 3em;
    background: linear-gradient(#FFC75F 20%, white);
}

.sign-display {
    padding: 2em;
}

.translate {
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
}