.header {
    display: grid;
    padding-bottom: 1em;
    grid-template-columns: 1fr 1fr;
    font-family: 'Love Ya Like A Sister', cursive;
    border-top: #FFC75F 2em solid;
    color: white;
}

.header img {
    float: right;
    width: 10em;
}