.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .8em;
    font-size: 2em;
    font-family: 'Love Ya Like A Sister', cursive;
    background-color: #FFC75F;
    overflow: hidden;
    color: white;
    border-bottom: .1em solid #E7B355;
}

.link-bar:hover {
    color: black;
}

.link-bar {
    color: white;
    text-decoration: none;
}

.home {
    margin-right: auto;
}

.user-name {
    margin-left: auto;
}

